.home {
    
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    @media @mobile {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @mobile{
        width: 100%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media @mobile{
        width: 80%;
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    @media @mobile{
      flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    @media @mobile{
      flex-direction: column;
      align-items: center;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media @mobile{
        width: 70%;
      }
     
    }
  }
}// home

/* styling header*/
header{
  
  width: 80%;
  position: relative;
  right: -10%;
  @media @mobile{
    width: 100%;
    right: 0%;
  }
 
  .bus-image{
    
    display: flex;
    justify-content: center;
    .fun-bus{
      width: 65%;
    }
  }
  .header-text{
    display: flex;
    flex-direction: column;
    width: 68%;
    position: relative;
    right: -17%;
    padding-top: 30px;
    border-bottom: 1px dashed black;
    @media @mobile{
      width: 100%;
      left: 0px;
    }
  }
}